ion-content{
        background-color: #444;
        text-align:center;
}

#videoArea{

}

video{
         margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;   
        min-width: 100%;
        max-width:100%;
}

.watermark{
        margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    max-width: 100%;
        opacity: 0.7;
}
